body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 10px;
}